##### The cell below is for you to keep track of the libraries used and install those libraries quickly
##### Ensure that the proper library names are used and the syntax of `%pip install PACKAGE_NAME` is followed

In [66]:
%pip install ipykernel
%pip install pandas 
%pip install numpy
%pip install pyarrow
%pip install fastparquet
%pip install matplotlib
%pip install scikit-learn
%pip install imbalanced-learn
# add commented pip installation lines for packages used as shown above for ease of testing
# the line should be of the format %pip install PACKAGE_NAME

Requirement already satisfied: ipykernel in c:\users\frede\datathon_2024\.venv\lib\site-packages (6.29.0)
Requirement already satisfied: traitlets>=5.4.0 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipykernel) (5.14.1)
Requirement already satisfied: psutil in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipykernel) (5.9.8)
Requirement already satisfied: packaging in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipykernel) (23.2)
Requirement already satisfied: ipython>=7.23.1 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipykernel) (8.20.0)
Requirement already satisfied: pyzmq>=24 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipykernel) (25.1.2)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipykernel) (5.7.1)
Requirement already satisfied: comm>=0.1.1 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipykernel) (0.2.1)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipykernel) (0.1.6)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipykernel) (1.8.0)
Requirement already satisfied: nest-asyncio in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipykernel) (1.6.0)
Requirement already satisfied: tornado>=6.1 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipykernel) (6.4)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipykernel) (8.6.0)
Requirement already satisfied: stack-data in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.6.3)
Requirement already satisfied: colorama in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.4.6)
Requirement already satisfied: decorator in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (5.1.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (3.0.43)
Requirement already satisfied: jedi>=0.16 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (0.19.1)
Requirement already satisfied: exceptiongroup in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (1.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from ipython>=7.23.1->ipykernel) (2.17.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from jupyter-client>=6.1.12->ipykernel) (2.8.2)
Requirement already satisfied: platformdirs>=2.5 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel) (4.1.0)
Requirement already satisfied: pywin32>=300 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel) (306)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\frede\datathon_2024\.venv\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=7.23.1->ipykernel) (0.2.13)
Requirement already satisfied: six>=1.5 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from python-dateutil>=2.8.2->jupyter-client>=6.1.12->ipykernel) (1.16.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (2.4.1)
Requirement already satisfied: executing>=1.2.0 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (2.0.1)
Requirement already satisfied: pure-eval in c:\users\frede\datathon_2024\.venv\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\frede\datathon_2024\.venv\lib\site-packages (2.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: six>=1.5 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\frede\datathon_2024\.venv\lib\site-packages (1.26.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pyarrow in c:\users\frede\datathon_2024\.venv\lib\site-packages (15.0.0)
Requirement already satisfied: numpy<2,>=1.16.6 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from pyarrow) (1.26.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: fastparquet in c:\users\frede\datathon_2024\.venv\lib\site-packages (2023.10.1)
Requirement already satisfied: cramjam>=2.3 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from fastparquet) (2.8.0)
Requirement already satisfied: numpy>=1.20.3 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from fastparquet) (1.26.3)
Requirement already satisfied: fsspec in c:\users\frede\datathon_2024\.venv\lib\site-packages (from fastparquet) (2023.12.2)
Requirement already satisfied: pandas>=1.5.0 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from fastparquet) (2.2.0)
Requirement already satisfied: packaging in c:\users\frede\datathon_2024\.venv\lib\site-packages (from fastparquet) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from pandas>=1.5.0->fastparquet) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib in c:\users\frede\datathon_2024\.venv\lib\site-packages (3.8.2)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: pillow>=8 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: packaging>=20.0 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from matplotlib) (23.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from matplotlib) (4.47.2)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from matplotlib) (1.26.3)
Requirement already satisfied: six>=1.5 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scikit-learn in c:\users\frede\datathon_2024\.venv\lib\site-packages (1.4.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from scikit-learn) (1.26.3)
Requirement already satisfied: scipy>=1.6.0 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from scikit-learn) (1.3.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: imbalanced-learn in c:\users\frede\datathon_2024\.venv\lib\site-packages (0.12.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from imbalanced-learn) (1.26.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from imbalanced-learn) (3.2.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from imbalanced-learn) (1.3.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from imbalanced-learn) (1.4.0)
Requirement already satisfied: scipy>=1.5.0 in c:\users\frede\datathon_2024\.venv\lib\site-packages (from imbalanced-learn) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

## **DO NOT CHANGE** the filepath variable
##### Instead, create a folder named 'data' in your current working directory and 
##### have the .parquet file inside that. A relative path *must* be used when loading data into pandas

In [1]:
# Can have as many cells as you want for code
import pandas as pd
import matplotlib.pyplot as plt

# the initialised filepath MUST be a relative path to a folder named data that contains the parquet file
filepath = "./data/catB_train.parquet"

### **ALL** Code for machine learning and dataset analysis should be entered below. 
##### Ensure that your code is clear and readable.
##### Comments and Markdown notes are advised to direct attention to pieces of code you deem useful.

`clntnum`: Unique identifier for the client.

`race_desc`: Description of the client's race.

`ctrycode_desc`: Country code indicating the client's location.

`clttype`: Customer status.

`stat_flag`: Flag indicating ACTIVE, LAPSED or MATURED. E.g. if there’s at least one inforce policy, then the flag would be ACTIVE. If all of the client’s policies are all lapsed, then it is LAPSED.

`min_occ_date`: Date of the client's first interaction or policy purchase with the company.

`cltdob_fix`: Fixed or corrected date of birth of the client.

`cltsex_fix`: Fixed or corrected gender of the client.

In [61]:
###...code...###
test_df = pd.read_parquet(filepath)

# drop these columns
to_drop = []
for i in range(len(test_df.columns)):
    # if column has only 1 unique value, that column is unimportant as a feature
    if len(test_df[test_df.columns[i]].unique()) == 1:
        print(len(test_df[test_df.columns[i]].unique()))
        to_drop.append(i)

dropped_df = test_df.drop(test_df.columns[to_drop], axis=1)
dropped_df.head()

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

,clntnum,race_desc,ctrycode_desc,clttype,stat_flag,min_occ_date,cltdob_fix,cltsex_fix,flg_substandard,flg_is_borderline_standard,...,recency_hlthclaim_success,hlthclaim_cnt_unsuccess,recency_hlthclaim_unsuccess,flg_hlthclaim_839f8a_ever,recency_hlthclaim_839f8a,flg_hlthclaim_14cb37_ever,recency_hlthclaim_14cb37,giclaim_amt,recency_giclaim,f_purchase_lh
19550,91b546e924,Chinese,Singapore,P,ACTIVE,2017-10-31,1974-05-09,Female,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
4600,896bae548c,Chinese,Singapore,P,ACTIVE,2007-05-23,1979-11-11,Male,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
13337,f364439ae6,Others,Singapore,P,ACTIVE,2019-08-31,1976-01-28,Male,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
15074,70f319cfe1,Chinese,Singapore,P,ACTIVE,2021-10-18,1976-03-19,Female,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN
19724,2647a81328,Chinese,Singapore,P,ACTIVE,2018-07-20,1995-07-31,Female,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN

In [62]:
# By Race
print(dropped_df.groupby('race_desc').count()['clntnum'])
print()

print(dropped_df.groupby('race_desc').agg({"f_purchase_lh": 'count'}))
print()

print(f'Chinese: {521/10520*100}')
print(f'Indian: {11/849 *100}')
print(f'Malay: {21/928 *100}')
print(f'Others: {112/1699 *100}')

race_desc
Chinese    10520
Indian       849
Malay        928
Others      1699
Name: clntnum, dtype: int64

           f_purchase_lh
race_desc
Chinese              521
Indian                11
Malay                 21
Others               112

Chinese: 4.952471482889734
Indian: 1.2956419316843346
Malay: 2.2629310344827585
Others: 6.59211300765156

In [63]:
# By country
# only singaporeans are likely to buy insurance
dropped_df.groupby('ctrycode_desc').agg({"f_purchase_lh": 'count'}).sort_values(by='f_purchase_lh', ascending=False).iloc[:5]

                    f_purchase_lh
ctrycode_desc
Singapore                     710
Australia                       0
Bosnia-Herzegovina              0
United States                   0
United Kingdom                  0

In [69]:
# By clttype
print(dropped_df.groupby('clttype').count()['clntnum'])
print()

print(dropped_df.groupby('clttype').agg({"f_purchase_lh": 'count'}))
print()

print(f'C type: {2/24*100}')
print(f'G type: {36/3311 *100}')
print(f'P type: {672/14657 *100}')

clttype
C       24
G     3311
P    14657
Name: clntnum, dtype: int64

         f_purchase_lh
clttype
C                    2
G                   36
P                  672

C type: 8.333333333333332
G type: 1.0872848082150408
P type: 4.584840008187214

In [65]:
# By stat_flag
print(dropped_df.groupby('stat_flag').count()['clntnum'])
print()

print(dropped_df.groupby('stat_flag').agg({"f_purchase_lh": 'count'}))
print()

print(f'Active: {694/17205 *100}')
print(f'Lapsed: {16/775 *100}')

stat_flag
ACTIVE     17205
LAPSED       775
MATURED       12
Name: clntnum, dtype: int64

           f_purchase_lh
stat_flag
ACTIVE               694
LAPSED                16
MATURED                0

Active: 4.033711130485324
Lapsed: 2.064516129032258

In [66]:
# by min_occ_year
new_df = dropped_df
new_df['min_occ_year'] = dropped_df['min_occ_date'].str.slice(stop=4) 

print(new_df.groupby('min_occ_year').count()['clntnum'])
print()

print(new_df.groupby('min_occ_year').agg({"f_purchase_lh": 'count'}))

min_occ_year
1954       1
1959       1
1962       1
1968       1
1971       1
1972       2
1974       4
1975       2
1977       4
1978       1
1979       5
1980       3
1981       1
1982       4
1983      13
1984       6
1985       8
1986      12
1987      12
1988      31
1989      24
1990      37
1991      46
1992      38
1993      38
1994      44
1995      42
1996      41
1997      29
1998      46
1999      25
2000      54
2001      98
2002     168
2003     218
2004     247
2005     407
2006     486
2007     394
2008     634
2009     597
2010     665
2011     739
2012     715
2013     721
2014     787
2015    1109
2016    1149
2017     803
2018     948
2019     898
2020    1301
2021     864
2022    1442
2023    2015
None      10
Name: clntnum, dtype: int64

              f_purchase_lh
min_occ_year
1954                      0
1959                      0
1962                      0
1968                      0
1971                      0
1972                      0
1974                      0
1975                      0
1977                      0
1978                      0
1979                      0
1980                      1
1981                      0
1982                      0
1983                      1
1984                      0
1985                      0
1986                      0
1987                      0
1988                      2
1989                      1
1990                      1
1991                      5
1992                      4
1993                      1
1994                      3
1995                      2
1996                      3
1997                      0
1998                      4
1999                      2
2000                      2
2001                      6
2002                      8
2003                      8
2004                     18
2005                     17
2006                     22
2007                     16
2008                     20
2009                     35
2010                     28
2011                     41
2012                     26
2013                     36
2014                     28
2015                     46
2016                     48
2017                     32
2018                     38
2019                     36
2020                     46
2021                     36
2022                     46
2023                     41
None                      0

In [67]:
# by cltdob_fix
new_df['cltdob_fix_year'] = dropped_df['cltdob_fix'].str.slice(stop=4) 

# print(new_df.groupby('cltdob_fix_year').count()['clntnum'])
# print()

new_df.groupby('cltdob_fix_year').agg({"f_purchase_lh": 'count'}).sort_values('f_purchase_lh', ascending=False)

                 f_purchase_lh
cltdob_fix_year
1990                        40
1989                        36
1993                        30
1991                        30
1983                        25
...                        ...
1945                         0
1946                         0
1947                         0
1949                         0
1924                         0

[83 rows x 1 columns]

In [68]:
# By Gender
print(dropped_df.groupby('cltsex_fix').count()['clntnum'])
print()

print(dropped_df.groupby('cltsex_fix').agg({"f_purchase_lh": 'count'}))
print()

print(f'Female: {345/8196 *100}')
print(f'Male: {363/9773 *100}')

cltsex_fix
Female    8196
Male      9773
Name: clntnum, dtype: int64

            f_purchase_lh
cltsex_fix
Female                345
Male                  363

Female: 4.209370424597365
Male: 3.714314949350251

## The cell below is **NOT** to be removed
##### The function is to be amended so that it accepts the given input (dataframe) and returns the required output (list). 
##### It is recommended to test the function out prior to submission
-------------------------------------------------------------------------------------------------------------------------------
##### The hidden_data parsed into the function below will have the same layout columns wise as the dataset *SENT* to you
##### Thus, ensure that steps taken to modify the initial dataset to fit into the model are also carried out in the function below

In [76]:
def testing_hidden_data(hidden_data: pd.DataFrame) -> list:
    '''DO NOT REMOVE THIS FUNCTION.

The function accepts a dataframe as input and return an iterable (list)
of binary classes as output.

The function should be coded to test on hidden data
and should include any preprocessing functions needed for your model to perform. 
    
All relevant code MUST be included in this function.'''
    result = [] 
    return result

##### Cell to check testing_hidden_data function

In [77]:
# This cell should output a list of predictions.
test_df = pd.read_parquet(filepath)
test_df = test_df.drop(columns=["f_purchase_lh"])
print(testing_hidden_data(test_df))

[]

### Please have the filename renamed and ensure that it can be run with the requirements above being met. All the best!